<div class='container'>
<div class='jumbotron'>

<h1> VC 2.0 </h1><h2>a modified version of the card game VC</h2>

<!--<canvas id='gameCanvas' width='1024' height='576'>
</canvas>boot

-->

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Username</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="" class="input-xlarge">
    
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="playButton"></label>
  <div class="controls">
    <button id="playButton" name="playButton" class="btn btn-primary">Play!</button>
  </div>
</div>

</div>
</div>