<div class='container'>
<div class='jumbotron'>

<h1> VC 2.0 </h1><h2>a modified version of the card game VC</h2>
<div></div>
<canvas id='gameCanvas' width='1024' height='576'>
</canvas>

<div id="login-page">
<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Username</label>
  <div class="controls">
    <input id="nameinput" name="nameinput" type="text" placeholder="Enter your name" class="input-xlarge">
    
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="playButton"></label>
  <div class="controls">
    <button id="playButton" name="playButton" class="btn btn-primary">Play!</button>
  </div>
</div>
</div>

</br>
<h4>Check out the tutorial video if you are a new player!!!</h4>
<iframe width="640" height="480" src="//www.youtube.com/embed/YfU0ZStfRU8" frameborder="0" allowfullscreen></iframe>

<script>
$("#gameCanvas").hide();
$( "#playButton" ).click(function() {
  $( "#login-page" ).hide(150, function() {
  	$("#gameCanvas").show(500, init);
  });
});
</script>

</div>
</div>

function joinTable() {
	socket.get('/main/newPlayer', { name: document.getElementById('nameinput').value }, function (response) {
		console.log(response);
	});
}
</script>