<!-- load easel.js library -->
<script type="text/javascript" src="/js/easel.js"></script>
<!-- load front-end script file for rendering canvas -->
<script type="text/javascript" src="/js/main.js"></script>

<div class='container'>
<div class='jumbotron'>

<h1> VC 2.0 </h1><h2>a modified version of the card game VC</h2>

<canvas id='gameCanvas' width='1024' height='576'>
</canvas>

<script>
// Call init() function in front-end javaScript file
  init();
</script>

</div>
</div>